<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title color="light">
      Datos  Academicos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>      
      <ion-col>      
        <ion-text color="primary">
          <h1>Secundaria</h1>
        </ion-text>
        <ion-text color="primary">
          <h1>Especializacion:</h1>
        </ion-text>
        <ion-text color="primary">
          <h1>Título: </h1>
        </ion-text>
        <ion-text color="primary">
          <h1>Universitario:</h1>
        </ion-text>
        <ion-text color="primary">
          <h1>Carrera:</h1>
        </ion-text>
        <ion-text color="primary">
          <h1>Cursando:</h1>
        </ion-text>      
       
      </ion-col>   
      
      <ion-col width-10>
        <h1>
          Colegio Fiscal Mixto Replica
          “Vicente Rocafuerte”
        </h1>
        <h1>Informática </h1>
        <h1>Técnico en Comercio y Administración </h1>
        <h1>Universidad de Guayaquil
          “Facultad de Ingeniería Industrial”</h1>
        <h1>Ingeniería en Sistemas de Información</h1>
        <h1>6to semestre</h1>
     
      </ion-col>
    </ion-row>
    
  </ion-grid>
 
</ion-content>
