<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title color="light">
      Perfil profesional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="primary">
    <h1>HABILIDADES/DESTREZAS:</h1>
  </ion-text>
  <h3>Manejo de programas Office, Word, Excel, Power Point</h3>
  <ion-text color="primary">
    <h1>Aptitudes:</h1>
  </ion-text>
  <h3>Puntual, responsable, organizada, creativa, respetuosa, proactiva, tolerante,
    amable.</h3>
    <ion-text color="primary">
      <h1>Experiencia laboral</h1>
    </ion-text>
    <ion-text color="step">
      <h1>- Generali Cía. de Seguros </h1>
    </ion-text>
    <h5>Pasantías (Marzo 2013 – Abril 2013)</h5>
     <h5> Elaboración de reportes, informes, archivo de correspondencia, envío de
     Informes por correo. </h5>
     <ion-text color="step">
      <h1>- Cyber Fenix  </h1>
    </ion-text>
    <h5>Junio 2014 – Octubre 2015</h5>
    <h5>Atención al cliente</h5>
    <ion-text color="step">
      <h1>- Hotel oro verde  </h1>
      <h5>Abril 2018 - Enero 2019</h5>
      <h5>Mesera Eventual</h5>
    </ion-text>
</ion-content>
